@import "../def";

#user_content
{
	background-color:#202028;
	height:100%;
	overflow:hidden;
	box-shadow: 5px 0 5px -5px #333;
}

#chat_content
{

}


.profile_info
{
	padding:1.5em;
	margin-top:3em;
}


.user_profile_image
{
	background-clip:content-box;
	border:0.5em solid rgba(255,255,255,0.2);

	&:hover
	{
		cursor:pointer;
	}
}

.user_info
{
	h4
	{
		color:white;
		line-height:1.7;
	}

	.glyphicon
	{
		padding-right:15px;
	}
}

.chat_nav_a
{
	h4
	{
		color:white;
	}
}

#settings_tab
{
	h5
	{
		color:white;
	}

	#settings_update_btn
	{
		margin-top:1.5em;
	}

	input
	{
		background-color:transparent;
		color:white;
	}
}

#no_friends_content, #no_notifications_content, #no_results_container
{
	h4
	{
		color:white;
		text-align:center;
		margin-top:2em;
	}
}

#notifications_tab
{

	.notification_list_item
	{
		background-color:transparent;
		border:1px solid #ccc;

		.col-md-2
		{
			padding-left:0;
		}
	}

	.notification_icon
	{
		color:white;
		font-size:36px;
		height:50px;
		line-height:50px;
		text-align:center;
	}

	.notification_title
	{
		font-weight:bold;
	}

	.notification_content_container
	{
		p
		{
			color:white;
			margin-bottom:2px;
		}
	}

	.notification_controls
	{
		float:right;
		a
		{
			color:white;
			height:50px;
			line-height:50px;
			padding-right:0.5em;
			font-size:20px;
		}

		.remove_notification_btn:hover
		{
			color:$colour_red;
		}
	
		.read_notification_btn:hover
		{
			color:$colour_green;
		}
	}
}

#notification_modal_extra_controls
{
	display:inline-block;
	margin-top:1.5em;
}

#notif_modal_meta
{
	border:1px solid #ccc;
	border-radius:5px;
	padding:0.5em;
}

#notification_modal_content
{
	text-align:center;

	button
	{
		margin-left:0.5em;
	}
}

#user_nav_container
{
	margin-top:15em;

	#user_nav
	{
		margin-left:3em;
	}
}

.profile_image_fade
{
	opacity:0.3;
}

#profile_image_container
{
	position:relative;
}
#change_bg_label
{
	position:absolute;
	margin-left:-4.5em;
	font-weight:bold;
	margin-top:1.5em;
	font-size:30px;
	color:white;

	&:hover
	{
		cursor:pointer;
	}
}

.tab_content
{
	margin-left:3em;
	margin-top:2em;
	padding-right:3em;
}

#people_list
{
	margin-top:2em;
	height:350px;
	overflow-y:auto;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}

.ladda-spinner
{
	z-index:99 !important;
}

.modal, modal.fade.in
{
	top:15%;
}

.list_image
{
	img
	{	
		width:45px;
		height:45px;
		border-radius:40px;
		border:4px solid #4CAF50;
	}
	
	padding-right:1em;
}

.person_list_item
{
	background-color:transparent;
	color:white !important;
	border:none !important;

	.col-md-6, .col-md-3
	{
		padding-left:0;
		padding-right:0;
	}
}

.person_controls
{
	float:right;
	margin-right:1em;

	.glyphicon
	{
		font-size:20px;
		padding-right:0.5em;
		line-height:2;

		&:hover
		{
			cursor:pointer;
		}
	}

	a
	{
		color:white;
	}

	.add_person_btn:hover
	{
		color:$colour_green !important;
	}

	.remove_person_btn:hover
	{
		color:$colour_red !important;
	}

	.message_person_btn:hover
	{
		color:$colour_blue !important;
	}
}

.person_info
{
	padding-left:0;
	h6
	{
		color:white;
		line-height:0.5;
	}

	.person_username
	{
		opacity:0.6;
	}
}

.tab_search_input
{
	background-color:transparent;
	color:white;
	width:100%;
}

#user_nav
{
	.active
	{
		.blue_tab
		{
			box-shadow: 0px -2px 0px $colour_blue inset;
		}

		.green_tab
		{
			box-shadow: 0px -2px 0px $colour_green inset;
		}

		.red_tab
		{
			box-shadow: 0px -2px 0px $colour_red inset;
		}

		.yellow_tab
		{
			box-shadow: 0px -2px 0px $colour_yellow inset
		}
	}
}

.blue_tab
{

	h4
	{
		color:$colour_blue;
	}
}

.green_tab
{
	h4
	{
		color:$colour_green;
	}

	&:hover
	{
		box-shadow: 0px -2px 0px $colour_green inset !important;
	}
}


.red_tab
{
	h4
	{
		color:$colour_red;
	}

	&:hover
	{
		box-shadow: 0px -2px 0px $colour_red inset !important;
	}
}

.yellow_tab
{
	h4
	{
		color:$colour_yellow;
	}

	&:hover
	{
		box-shadow: 0px -2px 0px $colour_yellow inset !important;
	}
}


#notification_pop
{
	float:right;
	max-width:300px;
	height:50px;
	margin-top:2em;

	h5, h6
	{
		margin-top:5px;
		margin-bottom:5px;
	}
}

.chat_jumbo
{
	background-color:inherit;
	border:2px solid #ccc;
	color:#ccc;
	text-align:center;
	margin-top:15em;
	margin-left:8em;
	margin-right:8em;
	border-style:dashed;

	h1, h3
	{
		color:#8A8A8A;
	}
}

.chat_window
{
	width:500px;
	height:400px;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	margin-top:4em;

	.message_output
	{
		overflow-y:auto;
		overflow-x:hidden;
		height:250px;
	}

	.chat_window_title
	{
		font-size:18px;
	}

	.panel-footer
	{
		position:absolute;
		bottom:0;
		width:100%;
		background-color:white;
		border-top:1px solid #ccc;
		height:80px;
		padding-top:15px;

		.col-md-10
		{
			padding-right:0;
			padding-left:0;
		}

		.msg_send_btn
		{
			height:45px;
		}

		.chat_input
		{
			height:45px;
			resize:none;
			width:100%;
		}
	}
}

#messages_container
{	
	width:100%;
	height:600px;
	max-height:600px;
	border:2px solid #ccc;
	border-style:dashed;
	margin-top:8em;
	overflow:hidden;
}


.profile_frame
{
	display:inline-block !important;
	position:relative;
	width:150px;
}

.profile_frame_right
{
	@extend .profile_frame;
	float:right;
}


.user_post_dp
{
	margin-top:5px;
	padding:5px;
	outline:1px solid black;
}

.user_post_dp:hover
{
	outline:1px solid black;
}


.message_profile_image
{
	width:80px;
	height:80px;
	border-radius:40px;
	border:3px solid transparent;
	box-shadow: 0 0 1px #B2B2B2;
	outline:0;
	padding:0;
	margin-left:50%;
	transform:translateX(-50%);
}

.message_profile_image:hover
{
	outline:0;
	box-shadow: 0 0 4px #B2B2B2;
}

.message_profile_text
{
	color:black;
	display:inline-block;
	display:relative;
	margin-left:50%;
	transform:translateX(-50%);
}


.chat
{
    width: 400px;
	display:inline-block;
	position:absolute;
	margin-top:10px;
}

.chat_frame
{
    background-color: $colour_green;//#F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
	color:white;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.chat_frame::before
{
    background-color: $colour_green;//#F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
	margin-left:-28px;
	//margin-left:2.5em;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.chat_frame_right
{
	@extend .chat_frame;
	background-color:$colour_blue !important;
}

.chat_frame_right::before
{
	@extend .chat_frame::before;
	background-color:$colour_blue !important;
	margin-left:2.8em !important;
}


.chat_frame:hover
{
	opacity:0.8;
}

.inner 
{
    float: left;   
    margin: 5px 45px 5px 20px;         
}

.inner_right
{
	@extend .inner;
	float:right;
	margin-right:70px;
}

.message_box
{
	position:relative;
}

#chat_waiting_modal, #chat_req_modal
{
	.modal-body
	{
		text-align:center;
	}
}
