@import "../def";

#user_content
{
	background-color:#202028;
	height:100%;
	overflow:hidden;
}

#chat_content
{

}


.profile_info
{
	padding:1.5em;
	margin-top:3em;
}


.user_profile_image
{
	background-clip:content-box;
	border:0.5em solid rgba(255,255,255,0.2);

	&:hover
	{
		cursor:pointer;
	}
}

.user_info
{
	h4
	{
		color:white;
		line-height:1.7;
	}
}

.chat_nav_a
{
	h4
	{
		color:white;
	}
}

#user_nav_container
{
	margin-top:15em;

	#user_nav
	{
		margin-left:3em;
	}
}

.profile_image_fade
{
	opacity:0.3;
}

#profile_image_container
{
	position:relative;
}
#change_bg_label
{
	position:absolute;
	margin-left:-4.5em;
	font-weight:bold;
	margin-top:1.5em;
	font-size:30px;
	color:white;

	&:hover
	{
		cursor:pointer;
	}
}

.tab_content
{
	margin-left:3em;
	margin-top:2em;
	padding-right:5em;
}

#people_list
{
	margin-top:2em;
	height:350px;
	overflow-y:auto;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}

.modal, modal.fade.in
{
	top:15%;
}

.list_image
{
	img
	{	
		width:45px;
		height:45px;
		border-radius:40px;
		border:4px solid #4CAF50;
	}
	
	padding-right:1em;
}

.person_list_item
{
	background-color:transparent;
	color:white !important;
	border:none !important;

	.col-md-6, .col-md-3
	{
		padding-left:0;
		padding-right:0;
	}
}

.person_controls
{
	float:right;
	margin-right:1em;

	.glyphicon
	{
		font-size:20px;
		padding-right:0.5em;
		line-height:2;

		&:hover
		{
			cursor:pointer;
		}
	}

	#add_person:hover
	{
		color:$colour_green;
	}

	#remove_person:hover
	{
		color:$colour_red;
	}

	#message_person:hover
	{
		color:$colour_blue;
	}
}

.person_info
{
	padding-left:0;
	h6
	{
		color:white;
		line-height:0.5;
	}

	.person_username
	{
		opacity:0.6;
	}
}



.tab_search_input
{
	background-color:transparent;
	color:white;
	width:100%;
}

#user_nav
{
	.active
	{
		.blue_tab
		{
			box-shadow: 0px -2px 0px $colour_blue inset;
		}

		.green_tab
		{
			box-shadow: 0px -2px 0px $colour_green inset;
		}

		.red_tab
		{
			box-shadow: 0px -2px 0px $colour_red inset;
		}

		.yellow_tab
		{
			box-shadow: 0px -2px 0px $colour_yellow inset
		}
	}
}

.blue_tab
{

	h4
	{
		color:$colour_blue;
	}
}

.green_tab
{
	h4
	{
		color:$colour_green;
	}

	&:hover
	{
		box-shadow: 0px -2px 0px $colour_green inset !important;
	}
}


.red_tab
{
	h4
	{
		color:$colour_red;
	}

	&:hover
	{
		box-shadow: 0px -2px 0px $colour_red inset !important;
	}
}

.yellow_tab
{
	h4
	{
		color:$colour_yellow;
	}

	&:hover
	{
		box-shadow: 0px -2px 0px $colour_yellow inset !important;
	}
}

